* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(../img/Vector+1.svg);
    background-size: cover;
    background-color: #0075FF;
    background-position: right top;
    position: absolute;
    
}
